# Folders
build/
out/
lib/


# IDE specific files
*.cbp
*.sln
*.vcxproj
*.vcxproj.filters
*.user
*.idea/
*.vs/
*.vscode/

# Executables and libraries
*.exe
*.dll
*.so
*.dylib
*.lib
*.a

# Other files that may be generated
*.stackdump
*.log
*.swp
*~




# Added by cargo

/target
